@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    text-align: center;
    flex-direction: row;
    background-color: #FFA800;
    padding: 10px 0;
    padding-left: 100px;
    box-sizing: border-box;
}

#title h1 {
    flex: 1;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 90px;
    color: white;
    padding: 0 50px;
    width: 50vw;
    min-width: 900px;
}

#content {
    flex-direction: column;
    padding: 50px;
}

.row{
    width: 100%;
    flex-direction: row;
}

.wrapper {
    width: 20%;
    margin: 50px;
    position: relative;
}

.wrapper img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.description {
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 20px;
    top: 0;
    left: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    color: #272727;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    transition: 0.4s;
}

.description a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #1B1F6D;
    font-weight: bold;
    
}

.wrapper:hover .description {
    opacity: 0.9;
    transition: 0.4s;
}



/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(245,245,245,0.8); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dbdbdb; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(150, 150, 150, 0.5); 
  }