@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

#navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

#navbar > a {
    text-decoration: none;
}

#logoIcon {
    object-fit: contain;
    opacity: 100;
}

#logoIcon img {
    min-width: 50px;
    width: 50px;
}

#logoContainer {
    display: flex;
    flex-direction: row;
    width: 200px;
}

#logoText, .btn {
    margin: 0;
    padding-left: 10px;
    color: #272727;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar > .btn {
    transition: 0.5s ease-in;
    border-radius: 15px;
    margin: 0.5em;
}

#navbar > .btn:hover {
    /* text-shadow: 0 0 20px rgba(245, 245, 245, 0.5); */
    box-shadow: 0 0 20px #272727;
    transition: 0.5s ease-out;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: 15px;
}

.pop {
    opacity: 0;
    transition: box-shadow 0.5s ease;
    color: #272727;
} 

#navbar:hover .pop {opacity: 1;}

.issue {
    transition-delay: 0.10s,0s !important;
    transition-property: opacity,box-shadow !important;
}

.impact {
    transition-delay: 0.25s,0s !important;
    transition-property: opacity,box-shadow !important;
}

.help {
    transition-delay: 0.40s,0s !important;
    transition-property: opacity,box-shadow !important;
}

.gallery {
    transition-delay: 0.55s,0s !important;
    transition-property: opacity,box-shadow !important;
}


