@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

.btnContainer{
    flex: 1;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    position: relative;
}

.btnWrap {
    align-items: center;
    padding: 10px;
    text-decoration: none;
    position: relative;
}

.button {
    z-index: 5;
    position: relative;
    border-radius: 10px;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}


/* this code below was written by Fitri Ali for code pen*/
/* license states its free to use as long as product code is used for is open source as well  */
/* some of it i modified to fit better with my page  */

.btnWrap:hover .effect-1,
.btnWrap:hover .effect-2 {
  display: block;
}

.effect-1,
.effect-2 {
  border-radius: 15px;
  display: none;
  mix-blend-mode: multiply;
  height: 84%;
  opacity: 1;
  position: absolute;
  width: 84%;
  z-index: 1;
}

.effect-1 {
  animation: rotate 1.4s linear infinite;
  background: #151b8a ;
}

.effect-2 {
  animation: rotate 0.8s linear reverse infinite;
  background: #8688c0;
}

@keyframes rotate {
    0% {
      top: 0;
      left: 8%;
    }
    25% {
      top: 8%;
      left: 0;
    }
    50% {
      top: 16%;
      left: 8%;
    }
    75% {
      top: 8%;
      left: 16%;
    }
    100% {
      top: 0;
      left: 8%;
    }
  }