#mainContainer {
    background-color: #272727;
    width: 100vw;
    height: 100vh;
}

#contentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#contentContainer a {
    text-decoration: none;
}

.card {
    margin: 100px;
    border: solid 1px #7b7b7b;
    object-fit: contain;
    width: 20vw;
    height: 20vw;
    min-width: 300px;
    min-height: 300px;
    position: relative;
    display: flex;
}

#photos {
    background-image: url("../images/backgrounds/gradient-right.png");
    background-size: contain;
    overflow: hidden;
}

#videos {
    margin: 0;
    padding: 0;
    background-image: url("../images/backgrounds/gradient-left.png");
    background-size: contain;
    transition: all 0.2s ease;
}

#videos:hover {
    background: url("../images/backgrounds/noise.png");
    animation: noise 0.5s steps(10) infinite;
    transition: all 0.2s ease;
}

@keyframes noise {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.spans {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #b7b7b7;
    font-size: 40px;
    position: relative;
    display: block;
    align-self: flex-end;
    padding: 10px;
}

#left-align {
    text-align: left;
}

#right-align {
    text-align: right;
}

/* ============================================================================== */

/* inspired by Michael Coker's solution on Stack Overflow */

#photos:hover #gloss {
    content: "";
    position: absolute;
    top: -30%;
    right: -200%;
    width: 50%;
    height: 200%;
    opacity: 0;
    transform: rotate(-30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient( to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
    animation: shine 2s 0.01s;
  }
  
  @keyframes shine {
    to {
      opacity: 1;
      right: 210%;
    }
  }

/* ===================================================================================== */

