@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Raleway&display=swap');

#mainContainer{
    background-color: #f5f5f5;

}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #272727;
    padding: 40px;
}

#title h1 {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 90px;
    color: #f5f5f5;
}

#images{
    object-fit: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5vh;
}

#images img {
    display: flex;
    flex: 1;
    padding-left: 10px;
    width: 10%;
    object-fit: cover;
}

#images img:first-child {
    padding-left: 0;
}

#content{
    padding: 5vh 20vw;
    min-width: 10px;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    line-height: 2em;
    color: #272727;
}

#citations {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

#btnRow {
    display: flex;
    flex-direction: row;
}

.button {
    flex: 1;
    border: solid 1px #f5f5f5;
    background-color: rgba(39, 39, 39, 0.4);
    color: #f5f5f5;
}

