@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
  background: #FBFBFB;
}

header{
  height: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-image: url("../images/cherry.jpg");
  align-items: center;
  justify-content: center;
  display: flex;
}

#circle{
  background: #FBFBFB;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#circle img{
  border-radius: 100%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

#page{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

nav{
  flex: 1;
}

nav img{
  width: 70%;

  float: right;
}

#content{
  flex: 2;
  padding: 0;
  height: 65vh;
  overflow: auto;
}

#content h1{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #2D111C;
}

.text{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400px;
  color: #2D111C
}

#artwork{
  display: flex;
  flex-direction: column;
}

#artwork h2{
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: #2D111C;
}

#artwork img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  margin-top: 30px;
  margin:30px;
}

#artwork section{
  display: flex;
  flex-direction: row;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #6B4D57;
  margin-top: 100px;
  height: 100px;
}

footer p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #FBFBFB;
}

footer img{
  height: 50px;
  width: 50px;
  padding-left: 30%;
  padding-right: 30%;
}
